In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [93]:
df = pd.read_csv("./data/T_T100D_SEGMENT_ALL_CARRIER_2018.csv")
print(df.shape)
df = df[
            (df["PASSENGERS"] != 0) &
            (df["SEATS"] > 1) & 
            (df["DEPARTURES_PERFORMED"] != 0) &
            (df["DEPARTURES_SCHEDULED"] != 0) & 
            (df["DISTANCE"] != 0) & 
            (df["DEPARTURES_PERFORMED"] < df["PASSENGERS"]) & 
            (~df["CLASS"].isin(["G", "P"]))
        ].copy()
print(df.shape)

df["PASSENGER_CAP"] = df["SEATS"] / df["DEPARTURES_PERFORMED"]
df["USAGE%"] = df["PASSENGERS"] / df["SEATS"] * 100
df["POP"] = df["USAGE%"] * df["DEPARTURES_PERFORMED"]
df["ROUTE"] = df["ORIGIN"] + "_" + df["DEST"]

(380238, 32)
(237554, 32)

In [96]:
df.groupby("ROUTE")["POP"].mean().sort_values()

ROUTE
MCO_SAV        1.785714
PWM_PIT        3.076923
MEM_GSO        3.076923
RIC_CMH        3.076923
LIT_PIA        3.076923
               ...
ITO_HNL    32509.220674
HNL_OGG    32974.942887
HNL_ITO    33544.666274
OGG_HNL    34185.891717
HNL_KOA    38105.686985
Name: POP, Length: 9819, dtype: float64

In [86]:
df["USAGE%"].sort_values().tail(20)

145476    100.000000
144883    100.000000
264626    100.000000
145419    100.000000
145475    100.000000
145421    100.000000
144540    100.000000
145420    100.000000
221049    100.046296
214610    100.222222
159410    100.277778
159409    100.277778
217804    100.303030
214611    100.333333
217805    100.353535
142847    100.555556
142846    100.555556
142845    100.555556
142844    100.555556
221463    100.555556
Name: USAGE%, dtype: float64

In [91]:
df.loc[380208]

DEPARTURES_SCHEDULED                     849.0
DEPARTURES_PERFORMED                     849.0
SEATS                                 108672.0
PASSENGERS                             95777.0
DISTANCE                                 100.0
RAMP_TO_RAMP                           35812.0
AIR_TIME                               18548.0
UNIQUE_CARRIER                              HA
AIRLINE_ID                             19690.0
UNIQUE_CARRIER_NAME     Hawaiian Airlines Inc.
REGION                                       D
CARRIER                                     HA
CARRIER_NAME            Hawaiian Airlines Inc.
CARRIER_GROUP                                3
CARRIER_GROUP_NEW                          3.0
ORIGIN_AIRPORT_ID                        12173
ORIGIN                                     HNL
ORIGIN_CITY_NAME                  Honolulu, HI
ORIGIN_STATE_ABR                            HI
ORIGIN_STATE_NM                         Hawaii
DEST_AIRPORT_ID                          13830
DEST                                       OGG
DEST_CITY_NAME                     Kahului, HI
DEST_STATE_ABR                              HI
DEST_STATE_NM                           Hawaii
AIRCRAFT_GROUP                               6
AIRCRAFT_TYPE                              608
YEAR                                      2018
QUARTER                                      3
MONTH                                        7
DISTANCE_GROUP                               1
CLASS                                        F
PASSENGER_CAP                            128.0
USAGE%                               88.134018
POP                                74825.78125
Name: 380208, dtype: object

In [80]:
11 / 0.16

68.75

In [68]:
df["CARRIER_GROUP"]

114099    1
114100    1
114108    1
114109    1
114117    1
         ..
380232    1
380233    1
380234    1
380235    1
380236    1
Name: CARRIER_GROUP, Length: 237554, dtype: int64